@import "../../mixins.scss";

.fortune {
  color: white;
  font-size: 19px;
}

.fortune-container {
  height: 30%;
  width: 90%;
  max-width: 1000px;
  @include make_flex(column, space-evenly, center);

  & > button {
    width: 550px;
    margin-top: 50px;
    padding: 10px;
    position: relative;

    top: 15px;
  }

  p {
    font-size: 60px;
    margin: 0;
    letter-spacing: 3px;
    color: #e6e6e6;

    font-family: "Amatic SC", cursive;
    font-weight: bold;
  }
}

@mixin question_container() {
  height: 90px;
  width: 400px;

  box-sizing: border-box;

  @include make_flex(column, center, center);

  p {
    color: white;
    font-size: 35px;

    transition: color 1s linear;
  }

  transition: background-color 0.2s linear, border 1s linear;

  @media only screen and (max-width: 600px) {
    width: 85%;
    height: 65px;

    padding-top: -50px;

    p {
      font-size: 28px;
    }
  }
}

.question-container {
  &-regular {
    border: 7px solid #cccccc;
    @include question_container();
  }

  &-posed {
    border: 7px solid #f5c503;

    @include question_container();

    p {
      color: #f5c503;
      transition: color 1s linear;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
