@import "../../mixins.scss";

.fortune-container {
  height: 45%;
  width: 90%;
  @include make_flex(column, space-between, center);

  & > button {
    width: 550px;
    margin-top: 50px;
    padding: 10px;
    position: relative;

    top: 15px;
  }

  p {
    font-size: 60px;
    margin: 0;
    // font-size: 30px;
    // margin-bottom: 25px;
    letter-spacing: 3px;
    color: #e6e6e6;

    font-family: "Amatic SC", cursive;
    font-weight: bold;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
